VIKING_APP_ID={{APP_ID}}
VIKING_API_KEY={{API_KEY}}
VIKING_AK={{ACCESS_KEY_ID}}
VIKING_SK={{SECRET_ACCESS_KEY}}
VIKING_REGION={{REGION}}
VIKING_FEATURES={{FEATURES}}
VIKING_SEARCH_SCENE_ID={{SEARCH_SCENE_ID}}
VIKING_SEARCH_DATASET_ID={{SEARCH_DATASET_ID}}
VIKING_REC_SCENE_ID={{REC_SCENE_ID}}
